<div align="center">
<h1>Sign in with email</h1>
<%= form_with url: login_otp_send_path, local: true do |f| %>
  <%= label_tag :email %>
  <%= text_field_tag :email, nil, required: true, autocomplete: "email" %>
  <%= submit_tag "Send OTP" %>
<% end %>
</div>
