<div style="text-align: center;">
  <%= render 'form', ownership: @ownership, fuel_topup: @fuel_topup, readonly: @readonly %>

  <%= link_to 'Back', ownership_fuel_topups_path(@ownership),
              class: "btn btn-primary"%>
</div>
