<div class="d-flex flex-column align-items-center">
  <% if @ownership.user == current_user %>
    <%= link_to edit_ownership_fuel_topup_path(@ownership, @fuel_topup), class: "btn btn-sm btn-warning mb-3" do %>
      <i class="fas fa-edit"></i> Edit
    <% end %>
  <% end %>

  <%= render 'form', ownership: @ownership, fuel_topup: @fuel_topup, readonly: @readonly %>
</div>
