<!-- app/views/user_mailer/feature_announcement.html.erb -->

<p>Hi <%= @user.name.presence || "there" %>,</p>

<p>We've added two new features to make REalVIEWS even easier to use.</p>

<h3>📄 Upload Fuel Receipts</h3>

<p>
You can now upload a fuel station receipt while adding a fuel topup for your car.
REalVIEWS automatically extracts Brand, State of Topup, Date of Topup, Rate per Litre, Total Price fields. Verify them and enter Odometer Reading manually. REalVIEWS calculates the mileage for you.
</p>

<h3>🔐 Continue with Google</h3>

<p>
You can now sign in using your Google account with a single click.
Email OTP login continues to be available as well.
</p>

<p>
Thank you for being part of the REalVIEWS community.
</p>

<p>
Visit: <strong>realviews.in</strong>
</p>

<p>
Team REalVIEWS
</p>
