<h2>Welcome to REalVIEWS!</h2>

<p>Hi <%= @user.email %>,</p>

<p>
Thanks for joining REalVIEWS.
</p>

<p>
With REalVIEWS, you can:
</p>

<ul>
  <li>🍽️ Discover and share restaurant reviews</li>
  <li>🚗 Track car mileage, fuel topups, and vehicle running costs</li>
  <li>📊 Create and track balance sheets.</li>
</ul>

<p>
Get started by exploring a feature that interests you — review a restaurant, or add your vehicle and first fuel topup or create a balance sheet.
</p>

<p>
Visit: <strong>realviews.in</strong>
</p>

<p>
Thanks,<br>
Team REalVIEWS
</p>