<h2>🚗 New Feature: E20 Fuel Stats!</h2>

<p>Hi <%= @user.name %>,</p>

<p>
We’ve launched a new feature that shows <b>E20 vs Non-E20 fuel stats</b> in your top-ups.
</p>

<img src="https://i.ibb.co/SwVwfLqC/e20-feature.png"
     alt="E20 Feature"
     style="max-width:100%; height:auto;" />

<p>
Check your dashboard to explore your updated mileage insights!
</p>

<p>
👉 <a href="https://realviews.in" target="_blank">View your stats</a>
</p>

<p>
Happy driving 🚗⚡<br>
Team REalVIEWS
</p>
