<p>Hi <%= @user.name.presence || "there" %>,</p>

<p>
We noticed that you recently added your car <%= @car %> to REalVIEWS —
welcome aboard! 🚗
</p>

<p>
To get the most out of your vehicle records, don’t forget to
start adding your fuel topups.
</p>

<p>
Once you add refill entries regularly, REalVIEWS can help you:
</p>

<ul>
  <li>Track mileage and fuel efficiency</li>
  <li>Monitor fuel expenses</li>
  <li>View mileage trends</li>
  <li>Maintain vehicle history</li>
</ul>

<p>
You can also use the <b>Upload Fuel Receipt</b> feature while
adding a topup.
</p>

<p>
Capture odometer photo soon after topup. Simply upload fuel refill receipt photo and REalVIEWS will
automatically fill the fields and add odometer reading from the photo you captured:
</p>

<ul>
  <li>Brand</li>
  <li>State of Topup</li>
  <li>Rate per Litre</li>
  <li>Total Price</li>
  <li>Date of Topup</li>
</ul>

<p>
Start adding your first fuel topup today and begin tracking
your car’s real-world mileage accurately.
</p>

<p>
Thanks,<br>
Team REalVIEWS
</p>