<% if @pending_cities.size >0 %>
<div align='center'>
    <h2> Pending Cities for Approval </h2>
    <ul>
      <% @pending_cities.each do |city| %>
        <li><%= city.name %></li>
      <% end %>
    </ul>
</div>
<%end%>

<!-- ✅ Add request new city form -->
<div align='center'>
  <h3>Request a New City</h3>
  <%= form_with model: @city, local: true, id: "city-form", html: { autocomplete: "off" } do |f| %>
    <%= f.text_field :name, placeholder: "Request new City", required: true %>
    <%= f.submit "Add" %>
  <% end %>
</div>
